<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    
<div th:fragment="sidebar">

<div class="flex-shrink-0 p-3 bg-white" style="width: 280px;" >
    <div class="mobile">

    <!-- <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
        <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
        <span class="fs-5 fw-semibold">Human Resource Management</span>
    </a> -->
    <ul class="list-unstyled ps-0">
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
                User
            </button>
            <div class="collapse" id="home-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a th:href="@{/users/add}"class="link-dark rounded">Add User</a></li>
                    <li><a th:href="@{/users/list}" class="link-dark rounded">Users List</a></li>
                </ul>
            </div>
        </li>
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                Department
            </button>
            <div class="collapse" id="dashboard-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a th:href="@{/department/add}" class="link-dark rounded">Add Department</a></li>
                    <li><a th:href="@{/department/list}" class="link-dark rounded">Department List</a></li>
                </ul>
            </div>
        </li>
    </ul>
</div>
    </div>

</div>
<script src="sidebar.js"></script>
</body>
</html>